#root {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
  background: wheat;
}
/* .root {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
  background: yellow;
} */
